__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
ENV/
.venv/
vol_surf/
pip-wheel-metadata/
*.egg-info/
dist/
build/
eggs/
.eggs/

*.o
*.obj
*.exe
*.out
*.dll
*.so
*.dylib
*.lib
*.a
build/
cmake-build-*/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

.vscode/
.idea/

.DS_Store
Thumbs.db

.pytest_cache/
.mypy_cache/
.cache/
.coverage
htmlcov/

*.log
*.tmp

output/
report/